<div class="divzs">
    <h1>NEWS</h1>
</div>
<div class="homepage-section">
    <div class="item">
        <div class="image-container">
            <img src="/assets/images/s1.jpg" alt="Photo 1">
        </div>
        <div class="content-container">
            <h2>We won two games against Galaxy Football</h2>
            <p>We won two games against Galaxy Football Academy, with impressive scores of 7-4 and 10-1!</p>
        </div>
    </div>
    <div class="item">
        <div class="image-container">
            <img src="/assets/images/equipe.jpg" alt="Photo 1">
        </div>
        <div class="content-container">
            <h2> CFS 2013-2014 SUPER LEAGUE</h2>
            <p>CFS 2013-2014 SUPER LEAGUE ⚽❤
                📆 Sunday 21.04.2024</p>
        </div>
    </div>
    <div class="item">
        <div class="image-container">
            <img src="/assets/images/cover.jpg" alt="Photo 1">
        </div>
        <div class="content-container">
            <h2>Séance d’entraînement</h2>
            <p>Séance d’entraînement G3 ⚽️
                Mardi 17.04.2024</p>
        </div>
    </div>
    <div class="item">
        <div class="image-container">
            <img src="/assets/images/history.jpg" alt="Photo 1">
        </div>
        <div class="content-container">
            <h2>Séance d’entraînement G1</h2>
            <p>Séance d’entraînement G1 ⚽️
                Mardi 16.04.2024</p>
        </div>
    </div>

   
</div>
